
/*
 * Grid
 */

.container {
	position: relative;
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

.container.fluid {
	max-width: 100%;
}


/* Self Clearing Goodness */
.container:after {
	content: "";
	display: table;
	clear: both;
}
