/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {
	--container-width: 300px;
}
@media( min-width: 360px )  {
	:root {
		--container-width: 340px;
	}
}
@media( min-width: 400px )  {
	:root {
		--container-width: 380px;
	}
}
@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
	}
}
@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
	}
}
@media( min-width: 1480px ) {
	:root {
		--container-width: 1440px;
	}
}
