.DS_Store

node_modules
package-lock.json
pnpm-lock.yaml

# build directories
/apps/*/build
/apps/*/public/build
/apps/*/cache
/apps/*/.cache
/archives/apps/*/build
/archives/apps/*/public/build
/archives/apps/*/cache
/archives/apps/*/.cache
