
/**
 |
 | Order Checkout
 |
 |
 */

/**
 | Institute Insignia
 |
 */
.institute-insignia {
	max-width: 100px;
	margin: 0 auto var(--space-100);
}

/**
 | User Info Card
 |
 */
.user-info.card {
	margin-bottom: var(--space-50);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--purple-2);
}
.user-info.card > :first-child {
	text-align: center;
}
.user-info.card > :last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--purple-2);
}
@media ( min-width: 640px ) {
	.user-info.card {
		flex-direction: row;
	}
	.user-info.card > :first-child {
		flex-basis: calc( 7 * ( 100% / 12 ) );
		text-align: left;
	}
	.user-info.card > :last-child {
		flex-basis: calc( 5 * ( 100% / 12 ) );
		border-top: none;
		border-left: 1px solid var(--purple-2);
	}
}



/**
 | Pay Now Card
 |
 */
section.pay-now {
	margin-bottom: var(--space-50);
	border: 1px solid var(--purple-2);
}

section.pay-now .h {
	margin-bottom: var(--space-75);
}

@media ( min-width: 1040px ) {
	section.pay-now .h {
		margin-bottom: var(--space-50);
	}
}

section.pay-now button,
section.pay-now a {
	box-shadow: none;
	border: 1px solid var(--purple-2);
	background-color: var(--purple-2);
	color: var(--light);
}
section.pay-now a {
	display: flex !important;
	justify-content: center;
	align-items: center;
}



/**
 | Payment Verification Card
 |
 */
section.pay-verify {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--space-50);
	border: 1px solid var(--purple-2);
}

section.pay-verify .h {
	margin-bottom: var(--space-50);
}

@media (min-width: 640px) {
	section.pay-verify .loading-spinner {
		padding: 0 var(--space-100);
	}
}
@media (min-width: 1040px) {
	section.pay-verify .h {
		margin-bottom: var(--space-50);
	}
}

/* section.pay-verify button,
section.pay-verify a {
	box-shadow: none;
	border: 1px solid var(--purple-2);
	background-color: var(--purple-2);
	color: var(--light);
}

section.pay-verify a {
	display: flex !important;
	justify-content: center;
	align-items: center;
} */



/**
 | Footer
 |
 */
 .footer {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding-top: 0;
	}

	.footer .institute-logo {
		margin-right: var(--space-75);
		width: 65px;
	}

	.footer .vd {
		height: 25px;
		width: 1px;
		background-color: var(--neutral-3);
	}

	.footer .bursar-logo {
		margin-left: var(--space-75);
		width: 125px;
	}



/**
 | Payment-in-session Modal
 |
 */
.payment-in-session {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: auto;
	padding: 50px 0;
	background-color: rgba( 0, 0, 0, 0.85 );
}
.payment-in-session .content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	/* width: 100%;
	min-height: 100vh;
	height: auto;
	padding: 50px 0;
	background-color: rgba( 0, 0, 0, 0.85 ); */
}
