
/**
 |
 | Transaction Home
 |
 |
 */

/**
 | Institute Insignia
 |
 */
.institute-insignia {
	/* height: 0; */
	/* padding-bottom: 68%; */
	max-width: 100px;
	margin: 0 auto var(--space-100);
	/* mix-blend-mode: hard-light; */
}

/**
 | User Info Card
 |
 */
.user-info.card {
	margin-bottom: var(--space-50);
	display: flex;
	flex-direction: column;
	border: 1px solid var(--purple-2);
}
.user-info.card > :first-child {
	text-align: center;
}
.user-info.card > :last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--purple-2);
}
@media ( min-width: 1040px ) {
	.user-info.card {
		flex-direction: row;
	}
	.user-info.card > :first-child {
		flex-basis: calc( 9 * ( 100% / 12 ) );
		text-align: left;
	}
	.user-info.card > :last-child {
		flex-basis: calc( 3 * ( 100% / 12 ) );
		border-top: none;
		border-left: 1px solid var(--purple-2);
	}
}

.payment-options {
	margin-bottom: var(--space-100);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border: 1px solid var(--purple-1);
}



/**
 | Pay Now Card
 |
 */
section.pay-now {
	margin-bottom: var(--space-50);
	border: 1px solid var(--purple-2);
}

section.pay-now .h {
	margin-bottom: var(--space-75);
}

@media ( min-width: 1040px ) {
	section.pay-now .h {
		margin-bottom: var(--space-50);
	}
}

section.pay-now button,
section.pay-now a {
	background-color: transparent;
	box-shadow: none;
	border: 1px solid var(--purple-2);
}
section.pay-now a {
	display: flex !important;
	justify-content: center;
	align-items: center;
}

/**
 | Lender Row Card
 |
 */
.lender-row {
	position: relative;
	margin-bottom: var(--space-50);
	border: 1px solid var(--purple-2);
}
.lender-row .featured {
	position: absolute;
	top: -0.9rem;
	padding: 0.2rem 0.5rem;
	background-image: linear-gradient( 90deg, #7A88FF 6.5%, #6C5CE7 51.42%, #8A5CE5 92.75% );
	border-radius: 4px;
}

.lender-row img {
	float: left;
	margin-right: var(--space-25);
	width: 4.5rem;
	height: 4.5rem;
}

.lender-row .emi {
	text-align: right;
}

@media ( max-width: 639px ) {
	.lender-row button {
		margin-top: var(--space-50);
	}
}
@media ( min-width: 1040px ) {
	.lender-row .emi {
		text-align: left;
	}
}


/**
 | Payment flow iframe
 |
 */
.payment-flow-container:after {
	position: fixed;
	content: "";
	bottom: 2rem;
	left: 0;
	z-index: 9;
	visibility: hidden;
	opacity: 0;
}
@media ( min-width: 704px ) {
	.payment-flow-container:after {
		/* left: calc(10% + 1.7px); */
		/* width: calc(80% - 3.3px); */
		left: 50%;
		width: 80%;
		max-width: 900px;
		height: 150px;
		border: 1px solid #DFDFDF;
		border-top: none;
		background-color: white;
		transform: translateX( -50% );
	}
}
.payment-flow-container[ data-status = "active" ]:after {
	visibility: visible;
	opacity: 1;
	transition:
		visibility 0s 4s,
		opacity 0.15s 4.25s ease-in
	;
}

.payment-flow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	overscroll-behavior: contain;
}
.payment-flow.fade-in {
	z-index: 9;
	opacity: 1;
	visibility: visible;
	transition:
		visibility 0s 4s,
		opacity 0.15s 4.25s ease-in
	;
}
